@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold; }
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf); }
@font-face {
  font-family: 'PT Serif';
  src: url(../fonts/PTSerif.ttc); }
.uppercase, .sf-button, .sf-header .sf-navbar, .sf-footer h5, .sf-footer h4 {
  text-transform: uppercase; }

.styless-anchor, .sf-button, .sf-header .sf-navbar .sf-menu ul li a, .sf-header .sf-navbar .sf-nav-button a {
  color: #ffffff;
  text-decoration: none; }

.sf-button {
  font-family: 'Montserrat';
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #e74c3c; }

html, body {
  -webkit-font-smoothing: antialiased !important;
  color: #838d8f;
  font-family: 'PT Serif';
  font-size: 22px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  line-height: 34px;
  background-color: #444549;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat'; }

h1 {
  font-size: 44px;
  line-height: 59.8px;
  font-weight: 700;
  margin: 0; }

h2 {
  font-size: 36px;
  line-height: 26.4px;
  font-weight: 700;
  margin: 0; }

h3 {
  font-size: 22px;
  line-height: 26.4px;
  font-weight: 700;
  margin: 0; }

h4 {
  font-size: 18px;
  line-height: 13.2px;
  font-weight: 700;
  margin: 0; }

h5 {
  font-size: 11px;
  line-height: 13.2px;
  font-weight: 700;
  margin: 0; }

h6 {
  font-size: 46px;
  line-height: 59.8px;
  font-weight: 700;
  margin: 0; }

div {
  overflow: visible; }

.sf-page-content {
  background-color: #FFFFFF;
  max-width: 1200px;
  margin: 0 auto; }

.row {
  margin: 0;
  padding: 0; }
  .row [class*="col-"] {
    padding: 0; }

.container {
  width: 560px;
  padding: 0;
  overflow: visible; }

.sf-header {
  padding-top: 27px; }
  .sf-header .sf-navbar {
    font-family: 'Montserrat'; }
    .sf-header .sf-navbar .sf-logo {
      width: 48px; }
    .sf-header .sf-navbar .sf-menu {
      margin-left: 185px; }
      .sf-header .sf-navbar .sf-menu ul {
        padding: 13px 0 0 0;
        margin: 0;
        list-style: none; }
        .sf-header .sf-navbar .sf-menu ul li {
          display: inline;
          margin-right: 60px; }
          .sf-header .sf-navbar .sf-menu ul li.no-margin-right, .sf-header .sf-navbar .sf-menu ul li:last-child {
            margin-right: 0px; }
          .sf-header .sf-navbar .sf-menu ul li a {
            line-height: 19.5px; }
    .sf-header .sf-navbar .sf-nav-button {
      margin-left: 201px;
      margin-top: 11px; }
      .sf-header .sf-navbar .sf-nav-button a {
        font-size: 13px;
        border: 2px;
          border-style: solid;
          border-color: rgba(255, 255, 255, 0.6);
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 13px 44px 13px 43px;
        letter-spacing: 0.26px; }
  .sf-header hr {
    margin-top: 19px;
    margin-bottom: 44px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 2px;
    border-top: 0 !important; }

.sf-tour {
  background-color: #3cb6e3;
  color: #ffffff;
  text-align: center;
  padding: 62px 0;
  border: 0;
  border-bottom: 9px solid #3c87ae; }
  .sf-tour h1 {
    font-size: 46px;
    letter-spacing: -1px; }
  .sf-tour p {
    font-size: 24px;
    font-weight: 400;
    line-height: 26.4px;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 0; }
  .sf-tour .row div {
    display: inline-block; }
  .sf-tour img {
    position: relative;
    margin-left: 43px;
    bottom: 32px; }

.input-group input {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.16);
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-family: 'Montserrat';
  border: 0; }
.input-group .input-group-btn .btn-default {
  color: #ffffff;
  border: 0;
  background-color: #e74c3c; }

.sf-footer {
  background-color: rgba(59, 60, 64, 0.95);
  padding: 41px 0;
  color: #f7f7f7; }
  .sf-footer .float {
    float: left; }
  .sf-footer h5, .sf-footer h4 {
    margin-bottom: 29px;
    letter-spacing: 3.6px; }
    .sf-footer h5.m-bottom, .sf-footer h4.m-bottom {
      margin-bottom: 27px; }
  .sf-footer .footer-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat';
    color: rgba(238, 238, 238, 0.56);
    font-size: 18px;
    line-height: 18.2px; }
  .sf-footer .l1 li, .sf-footer .l2 li {
    margin-bottom: 30px; }
    .sf-footer .l1 li:last-child, .sf-footer .l2 li:last-child {
      margin-bottom: 0; }
  .sf-footer .l2 .icon {
    width: 18px;
    text-align: center;
    margin-right: 16px;
    vertical-align: text-top; }
    .sf-footer .l2 .icon:first-child {
      height: 16px; }
  .sf-footer .l2 .icon-text {
    line-height: 1px; }
  .sf-footer .l2 .facebook-icon {
    content: url("../img/facebook.svg"); }
  .sf-footer .l2 .twitter-icon {
    content: url("../img/twitter.svg"); }

@media (max-width: 991px) {
  .no-mobile {
    display: none !important; }

  .sf-footer .float:first-child {
    width: 50%; }
  .sf-footer .l1 {
    margin-right: 213px; }
  .sf-footer .l2 h4 {
    text-align: right; } }
@media (min-width: 992px) {
  body {
    font-size: 14px;
    line-height: 18.2px; }

  .container {
    width: 980px; }

  .sf-header {
    padding-top: 50px; }
    .sf-header .sf-menu {
      margin-left: 141px !important;
      font-size: 13px; }
      .sf-header .sf-menu ul {
        padding-top: 16px; }
    .sf-header hr {
      margin-top: 18px;
      margin-bottom: 62px;
      height: 1px; }

  .sf-footer .logo {
    background-image: url("../img/logo-footer.png");
    background-repeat: no-repeat;
    background-position-x: 2px;
    width: 224px;
    height: 200px;
    margin-right: 76px; }
  .sf-footer .bordered-l {
    border-left: 1px solid #4d4f53; }
  .sf-footer .bordered-r {
    border-right: 1px solid #4d4f53; }
  .sf-footer h5 {
    line-height: 13.2px;
    letter-spacing: 2.2px; }
  .sf-footer .footer-list {
    height: 200px; }
    .sf-footer .footer-list ul {
      font-size: 12.6px;
      margin-left: 1px; }
  .sf-footer .l1 {
    margin: 0 36px; }
    .sf-footer .l1 li {
      margin-bottom: 24px; }
  .sf-footer .l2 {
    margin-left: 31px;
    margin-right: 61px; }
    .sf-footer .l2 li {
      margin-bottom: 17px; }
  .sf-footer .news {
    margin-left: 42px;
    width: 227px; }
    .sf-footer .news p {
      color: #666666;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.2px;
      margin-left: 1px;
      margin-bottom: 25px; }
    .sf-footer .news .input-group {
      border-radius: 5px;
      width: 230px; }
      .sf-footer .news .input-group input, .sf-footer .news .input-group .btn {
        height: 45px; }
      .sf-footer .news .input-group input {
        line-height: 16.8px;
        padding-top: 17px;
        padding-left: 18px;
        padding-bottom: 19px;
        color: #878787; }
      .sf-footer .news .input-group .btn img {
        margin-bottom: 2px; }

  .only-mobile {
    display: none !important; } }
.sf-header {
  background-image: url("../img/hero-feature1.png");
  background-size: cover;
  background-position-x: -532px; }
  .sf-header hr {
    margin-bottom: 128px; }
  .sf-header .sf-hero {
    padding-bottom: 30px; }
    .sf-header .sf-hero h1 {
      font-size: 46px;
      font-weight: 700;
      color: #ffffff;
      text-align: center;
      margin-bottom: 22px; }
    .sf-header .sf-hero p {
      font-size: 36px;
      color: rgba(255, 255, 255, 0.75);
      text-align: center; }
    .sf-header .sf-hero .arrow {
      margin-top: 22px;
      margin-bottom: 30px; }
      .sf-header .sf-hero .arrow.right {
        text-align: left;
        padding-left: 10px; }
      .sf-header .sf-hero .arrow.left {
        text-align: right;
        padding-right: 10px; }

@media (max-width: 991px) {
  .sf-hero p {
    margin-bottom: 209px; } }
@media (min-width: 992px) {
  .sf-header {
    background-position-x: 0px; }
    .sf-header .sf-hero {
      padding-bottom: 135px; }
      .sf-header .sf-hero h1 {
        margin-bottom: 13px; }
      .sf-header .sf-hero p {
        font-size: 24px; }
      .sf-header .sf-hero .arrow {
        padding-left: 0;
        padding-right: 0;
        margin-top: 22px; }
        .sf-header .sf-hero .arrow.right {
          text-align: right; } }

/*# sourceMappingURL=feature1.css.map */
