@import "style.scss";
@import "assets/variables";

.sf-header{
	background: {
		image: url('../img/hero-feature1-mobile.png');
		size: cover;
	};
	
	hr{
		margin-bottom: 128px;
	}

	.sf-hero{
		padding-bottom: 30px;

		h1{
			font: {
				size: 46px;
				weight: 700;
			}
			color: #ffffff;
			text-align: center;
			margin-bottom: 22px;
		}

		p{
			font-size: 36px;
			color:  rgba(255, 255, 255, 0.75);
			
			text-align: center;
		}

		.arrow{
			&.right{
				text-align: left;
				padding-left: 10px;
			}

			&.left{
				text-align: right;
				padding-right: 10px;
			}

			margin-top: 22px;
			margin-bottom: 30px
		}
	}

}

.sf-how-works{
	background-color: #ffffff;

	padding: {
		top: 39px;
		bottom: 35px;
	}

	.row{
		width: 538px;
		margin: {
			left: 38px;
			bottom: 35px;
		}

		&:last-child{
			margin-bottom: 0;
		}

		p{
			@extend .feature-p;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	h3{
		@extend .feature-h3;
	}

	.box{
		box-sizing: content-box;
		border-width: 1px;
		border-color:  #eaeaea;
		border-style: solid;
		background-color:  #f9f9f9;
		box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);

		width: 439px;

		padding: {
			right: 41px;
			left: 58px;
			top: 30px;
			bottom: 29px;
		}
		margin-bottom: 24px;

		p, div{
			text-align: center;
		}

		p{
			color: #3c3d41;
			margin-bottom: 10px;
		}

		.actions.content, .row{
			width: 100%;
			margin: 0;
		}

		.actions.content{
			.arrows{
				margin-bottom: 16px;
			}

			.actions.row{
				font:{
					family: Montserrat;
					size: 18px; 
					weight: 700;
				}
				letter-spacing: 1.2px;
				color:  #3cb6e3;
			}
		}

	}

}

.sf-testimonial{
	background: {
		image: url('../img/phone1-mobile.png');
		color: #39ac73;
		repeat: no-repeat;
		position: center;
	}

	.wrapper{
		height: 100%;
		background-image: url('../img/phone-background.png');
	}
	
	height: 430px;

	.row{
		width: 552px;
		margin: 0 auto;
	}

	p{
		color:  rgba(255, 255, 255, 0.95);
		font-size: 28px;
		text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.25);
		text-align: center;
		margin-top: 298px;
	}
}

.sf-article{
	.quote{
		padding: {
			top: 39px;
			bottom: 34px;
		}
	}
	
	background-color: #ffffff;

	h3{
		@extend .feature-h3;
	}

	p{
		@extend .feature-p;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.image{
		height: 430px;
		background-image: url('../img/notification.jpg');
	}
}


.sf-quote{
	// TODO: waiting the new design and the sliced gradient
	padding: 39px 0;
	text-align: center;
	
	p{
		width: 397px;
		margin: 0 auto;
		color:  #b1bfc2;
		font-size: 31.33px;
	}
}

.sf-trackers{
	background-color: #eaeaea;

	padding: 40px 0;
	text-align: center;

	p{
		letter-spacing: -0.48px;
		color:  #666c70;
		font:{
			size: 24px;
			family: Montserrat;
		}
		margin-bottom: 40px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	
	.circle-border{
		margin: {
			top: 0;
			bottom: 23px;
			right: auto;
			left: auto;
		}

		border-radius: 50%;
		background-color:  #ffffff;
		box-shadow: 1px 3px 3px 0px rgba(98, 98, 98, 0.15);
		width: 240px;
		height: 240px;

		vertical-align: middle;
		
		img{
			margin-top: 68px;
		}
	}
	
}

.sf-costumers{
	background-color: #ffffff;
	padding-bottom: 40px;
	

	.col-md-6:last-child{
		padding-top: 29px;
	}

	h3{
		@extend .feature-h3;
	}

	p{
		@extend .feature-p;

		&:first-child{
			margin-bottom: 51px;
		}
	}
}

@media (max-width: $xs-screen) {
	.sf-hero{
		p{
			margin-bottom: 209px;
		}
	}

	.sf-costumers{
		.col-md-6:last-child{
			padding-top: 0;
		}
	}
}

@media (min-width: $md-screen) {
	.sf-header{
		background: {
			image: url('../img/hero-feature1.png');
		}

		.sf-hero{
			padding-bottom: 135px;

			h1{
				margin-bottom: 13px;
			}
			p{
				font-size: 24px;
			}

			.arrow{
				&.right{
					text-align: right;
				}

				padding: {
					
					left: 0;
					right: 0;
				}
				
				margin-top: 22px;
			}
		}
	}

	.sf-how-works{
		.row{
			width: 500px;
			margin:{
				left: 240px;
			}
		}

		.box{
			width: 439px;

			padding: {
				right: 55px;
				left: 56px;
				top: 24px;
				bottom: 24px;
			}

			margin-bottom: 29px;

			p{
				font-size: 16px;

			}

			.actions.content{
				.arrows{
					margin-bottom: 22px !important;
				}

				.actions.row{
					font-size: 13px;
					letter-spacing: 1.3px;
				}
			}

		}
	}

	.sf-testimonial{
		background-image: url('../img/phone1.png');
		
		.row{
			width: 748px;
		}

		p{
			margin-top: 327px;
			font-size: 24px;
			line-height: 38px;
		}


	}

	.sf-quote{
		padding: {
			top:46px;
			bottom:49px;
		}

		p{
			font-size: 21.83px; 
			line-height: 18.2px;
			width: 494px;
		}
	}

	.sf-trackers{
		position: relative;
		z-index: 0;

		.row{
			width: 625px;
			margin: 0 auto;
		}
	}

	.sf-costumers{
		position: relative;

		.col-md-6{
			padding: 0;
		}

		h3{
			margin-top: 99px;
		}

		img{
			position: absolute;
			z-index: 1;
		}
	}

	.sf-tour{
		position: relative;
		z-index: 99999;
	}
}