@import 'assets/variables.scss';
@import 'style.scss';

.sf-header{
	background: {
		image: url('../img/hero-pricing-mobile.jpg');
	}
}

// Keep in mind that most classes have different properties for 
// @media (min-width: $md-screen). So most desktop properties will be further down

[data-md-tooltip] {
	position: relative;
}

// tooltip defaults
[data-md-tooltip]:before {
	white-space: normal;
	content: attr(data-md-tooltip);
	padding: 8px;
	transition: transform 0.3s ease-in-out;
	background: #616161;
	color: white;
	border-radius: 5px;
	font-size: 12px;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	z-index: 3; // activated currency hax z-index 2
}
.sf-boxes{
	background-color: #eaeaea;
	padding: {
		top: 40px ;
		bottom: 20px;
	}

	.features {
		display: flex;
		flex-direction: column;
	}
    
    .row:last-child .col-md-6:last-child {
        .sf-box {
            margin-bottom: 40px;
        }
	}
	
	.currency-switcher {
		margin-bottom: 16px;

		.btn {
			font-size: 18px;
			font-family: 'Montserrat';
			// font-weight: 700;
			min-width: 60px;
		}

		.btn-primary {
			color: #3c3d41;
			background-color: #f8f8f8;
			border-color: #858f91;
		}

		.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
			color: #3c3d41;
			background-color: #f5f6f6;
			border-color: #858f91;
		}
	}

	.sf-box{
		border-radius: 5px;
		background-color:  #ffffff;
		width:100%;
		margin-bottom: 20px;
		font-size: 23.6px;
		line-height: 25px;

		.header{
			text-align: center;
			padding: 34px;
			background-color: #f9f9f9;
			border-bottom: 1px solid #eeeeee;
			position: relative;

			&:not(.pro-plan) {
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
			}

			.popular-bar {
				background-color: #ff6738;
				color: #fff;
				position: absolute;
				top: -20px;
				left: 0;
				width: 100%;
				height: 20px;
				display: flex;
				font-weight: 700;
				font-size: 14px;
				line-height: 20px;
				font-family: sans-serif;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;

				span {
					margin: auto;
				}
			}

			h3{
				color:  #3c3d41;
				font-size: 26px;
				font-weight: 700;
				margin-bottom: 12px;
				line-height: 21px;
			}

			p{
                font-size: 14px;

				&:last-child{
					margin-bottom: 0;
				}
			}
            
            a{
                font-size: 14px;
                color: #3cb6e3;
                text-decoration: none;
            }
		}

		.header + .content{
			padding: {
				top: 18px;
				left: 26px ;
				right: 26px;
				bottom: 25px;
			}
		}
		.first-item {
			padding-bottom: 15px; //padding-top of .content - margin first check
		}

		.content{
			padding: 40px 43px 31px 43px;
			text-align: start;

			h3{
				color: #3c3d41;
				margin-bottom: 27px;
			}

			p{
				font-size: 23.2px;
				line-height: 24px;
			}
		}

		.currency-explainer {
			font-size: 12px;
			margin-bottom: 10px;
		}
	}
	
	.row.center{
		text-align: center;
	}

	
}

a.sf-button{
	text-align: center;
	@extend .styless-anchor;
	padding: {
		top:19px;
		left:23px;
		right:26px;
		bottom:18px;
	}
	font-size: 10px;
	line-height: 7px;
	font-weight: 400;
	letter-spacing: 2px;
	border-radius: 100px;
	display: inline-block;
	margin-bottom: 18px;
}

.item{
	display: flex;

	margin-bottom: 12px !important;


	.info{
		margin: auto 0 auto auto;

		i {
			cursor: default;
		}
	}

	.material-icons {
		cursor: default;
	}
	
	.material-icons.info-icon { 
		font-size: 20px;
		position: relative;
		top: 3px;
		margin-left: 2px;
		color: #838d8f;
	}

	.material-icons.check-icon { 
		font-size: 22px;
		color: #39ac73;
	}

	.content{
		padding: 0 !important;
		max-width: 424px;
		margin-left: 16px;
		display: flex;
  		justify-content: center;
  		align-items: center; 
	}

	p{
		margin-top: auto;
		margin-bottom: auto;

		// keeps last word of feature text together with info icon
		.icon-container{
			white-space: nowrap;
		}
	}
	

	&:last-child{
		margin-bottom: 0;
	}
}


.sf-contact{
	background-color: #ffffff;
	padding: 40px 0;
	text-align: center;

	.list{
		margin: 0 auto;
		margin-bottom: 19px;
		text-align: left;
        .content{
			p{
				line-height: 24px;
			}    
        }
	}

	.tel{

		&:hover {
			text-decoration: underline;
		}
		
		img{
			margin-right: 21px;
		}

		span{
			font-family: 'Montserrat';
			color:  #3c3d41;
			font-size: 24px;
		}
		margin-bottom: 30px;
	}

	.sf-button{
		padding: {
			right: 26px;
			left: 23px;
		}
	}
}

@media (max-width: $xs-screen){
	.sf-button{
		font-size:22px !important;
	}

	.sf-tour{
		h1{
			font-size: 38px !important;
		}
	}

	// Make mobile screen scale nicer
	.sf-pricing {
		.container {
			&.plan-container {
				width: 80%;
				max-width: 510px;
			}
		}
	}

	.sf-boxes .sf-box .first-item {
		padding-bottom: 24px;
	}

	.item.row {
		margin-bottom: 24px !important;
	}

	// On small screens default to center of screen
	// Changing orientation of tooltips based on width of smaller devices is very complex with css alone
	[data-md-tooltip]:before {
		min-width: 300px;
		max-width: 100%;
		width: max-content;
		position: fixed;
		top: 40%;
		left: 50%;
		transform: translateX(-50%) scale(0);
		transform-origin: center;
	}
	[data-md-tooltip]:hover:before {
		transform: translateX(-50%) scale(1); 
	}

	// Making the entire feature text trigger the tooltip,
	// doesn't work well on mobile. Makes you click on different tooltips all the time
	// .feature-text:hover {
	// 	[data-md-tooltip]:before {
	// 		transform: translateX(-50%) scale(1); 
	// 	}
	// }

	[data-md-tooltip].md-tooltip--left:before {
		top: 40%;
		left: 50%;
		position: fixed;

		transform: translateX(-50%) scale(0);
		transform-origin: center;
	}

	[data-md-tooltip].md-tooltip--left:hover:before {
		transform: translateX(-50%) scale(1); 
	}

	// .feature-text:hover {
	// 	[data-md-tooltip].md-tooltip--left:before {
	// 		transform: translateX(-50%) scale(1); 
	// 	}
	// }
}

@media (min-width: $md-screen) {
	.sf-header{
		background: {
			image: url('../img/hero-pricing.jpg');
		}
	}

	// On large screens default right with option left for furthest feature column
	[data-md-tooltip]:before {
		min-width: 300px;
		width: max-content;
		max-width: 500px;
		position: absolute;
		padding: 8px;
		left: auto;
		right: -10px;
		bottom: auto;
		top: 50%;
		transform: translate(100%, -50%) scale(0);
		transform-origin: left center;
	}
	
	[data-md-tooltip]:hover:before {
		transform: translate(100%, -50%) scale(1);
	}

	// Make feature text hover trigger tooltips as well
	.feature-text:hover {
		[data-md-tooltip]:before {
			transform: translate(100%, -50%) scale(1);
		}
	}

	[data-md-tooltip].md-tooltip--left:before {
		left: -15px;
		right: auto;
		bottom: auto;
		top: 50%;
		transform: translate(-100%, -50%) scale(0);
		transform-origin: right center;
	}
	
	[data-md-tooltip].md-tooltip--left:hover:before {
		transform: translate(-100%, -50%) scale(1);
	}

	.feature-text:hover {
		[data-md-tooltip].md-tooltip--left:before {
			transform: translate(-100%, -50%) scale(1);
		}
	}

	// tooltips in pro plan list would go off screen
	.mid[data-md-tooltip]:before {
		max-width: 350px;
	}

	.sf-pricing .sf-box{
		height: 289px;
	}

	.sf-boxes{

		.features {
			height: 360px;
		}

		.plans {
			padding-top: 20px;
			display: flex;
		}

		.sf-box{
			width: 305px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 40px;

			.header{
				padding: {
					top: 28px;
					bottom: 28px;
				}

				h3{
					font-size: 22px;
					margin-bottom: 11px;
				}

				p{
					display: block;
					margin-bottom: 0;
				}
			}

			.header + .content{
				padding: {
					top: 24px;
					left: 26px;
					right: 26px;
					bottom: 20px;
				}
			}

			.content{
				h3{
					font-size: 16px;
					margin-bottom: 15px;
					line-height: 26.4px;
				}

				p{
					font-size: 15px;
				}
			}
		}
	}

	.item{
		margin-bottom: 15px !important;

		.material-icons.info-icon { 
			font-size: 14px;
		}

		.material-icons.check-icon { 
			font-size: 20px;
			margin-top: 2px;
		}

		.content{
			max-width: 100%;
			margin-left: 14px;
			display: flex;
  			justify-content: center;
  			align-items: center; 
		}

		.text {
			margin-top:auto;
			margin-bottom: auto;
		}

		p{
			font-size: 15.9px;
			margin-left: 2px;
			margin-top: auto;
			margin-bottom: auto;
			padding-top: 0px;
		}
	}

	.sf-contact{
		text-align: center;
		
		.list{
			width: 194px;
			margin-bottom: 39px;
		}
		
		.contact{
			margin: 0 auto;
			
			div{
				display: inline-block;
			}

			.tel {
				margin-bottom: 0;
				
				img{
					width: 44px;
					height: 44px;
					margin-right: 11px;
				}

				span{
					font-size: 18px;
				}

			}

				.no-mobile.italic{
					margin: 0 50px;
				}
		}
	}

	.sf-faq{
		.sf-box{
			margin-bottom: 20px;
		}
	}
}

@media (min-width: $lg-screen) {
	.mid[data-md-tooltip]:before {
		max-width: 500px;
	}
}
