@import "assets/variables";

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: 'PT Serif';
	src: url(../fonts/PTSerif.ttc);
}

@mixin heading($h, $fs, $lh){
	h#{$h}{
		font-size: #{$fs}px;
		line-height: #{$lh}px;
		font-weight: 700;
		margin: 0;
		@content
	}	
}

.uppercase{
	text-transform: uppercase;
}

.styless-anchor{
	color: #ffffff;
	text-decoration: none;
}	


.sf-button{
	@extend .uppercase;
	@extend .styless-anchor;
	
	font-family: 'Montserrat';
	color:  #ffffff;
	font-weight: 700;

	text-align: center;
	
	background-color: #e74c3c;


}

.italic{
	font-style: italic;
}

.black{
	color: #3c3d41
}

.bold{
	font-weight: 700;
}

html, body{
	-webkit-font-smoothing: antialiased !important;
	color: #838d8f;
	font: {
		family: 'PT Serif';
		size: 22px;
	};
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	line-height: 34px;
	background-color: #444549;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
	font:{
		family: 'Montserrat';
	};
}

@include heading(1, 44, 59.8) {};
@include heading(2, 36, 26.4) {};
@include heading(3, 22, 26.4) {};
@include heading(4, 18, 13.2) {};
@include heading(5, 11, 13.2) {};
@include heading(6, 46, 59.8) {};


div{
	overflow: visible;
}

.sf-page-content{
	background-color: #FFFFFF;
	max-width: 1200px;
	margin: 0 auto;
}

.row{
	margin: 0;
	padding: 0;

	[class*="col-"]{
		padding: 0;
	}
}

.container{
	width: 560px;
	padding: 0;
	overflow: visible;
}


//header
.sf-header{
	padding-top: 27px;
	
	.sf-navbar{
		@extend .uppercase;	

		font: {
			family: 'Montserrat';
		}

		.sf-logo{
			width: 48px;
		}

		.sf-menu{
			margin-left: 185px;

			ul{
				padding: 13px 0 0 0;
				margin: 0;
				list-style: none;
				text-align: right;
				
				li{
					display: inline;
					margin-right: 60px;

					&.no-margin-right, &:last-child{
						margin-right: 0px;
					};

					a{
						@extend .styless-anchor;
						line-height: 19.5px;
					};


				}

				
			}
		}

		.sf-nav-button{
			margin: {
				left: 201px;
				top: 11px;
			};

			a{
				@extend .styless-anchor;

				font-size: 13px;
				border: 2px {
					style: solid;
					color: rgba(255, 255, 255, 0.6);
				}

				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				padding: 13px 44px 13px 43px;
				letter-spacing: 0.26px;
			}
		}
	}

	hr{
		margin:{
			top: 19px;
			bottom: 44px;
		};

		background-color:  rgba(255, 255, 255, 0.3);
		height: 2px;
		border-top: 0 !important;
	}
}

.sf-tour{
	background-color:  #3cb6e3;
	color: #ffffff;
	text-align: center;
	padding: 62px 0;
	border: 0;
	border-bottom: 9px solid #3c87ae;

	h1{
		font-size: 46px;
		letter-spacing: -1px;
	}

	p{
		font-size: 24px; 
		font-weight: 400;
		line-height: 26.4px;
		color:  rgba(255, 255, 255, 0.75);
		margin-bottom: 0;
	}

	.row div{
		display: inline-block;
	}

	img{
		position: relative;
		margin-left: 43px;
		bottom: 32px;
	}
}



.input-group{
	input{
		border-radius: 4px;
		background-color:  rgba(0, 0, 0, 0.16);
		width: 100%;

		color: rgba(255, 255, 255, 0.6);
		
		font-weight: 400;
		font-family: 'Montserrat';
		
		border: 0; 
	}

	.input-group-btn .btn-default{
		color: #ffffff;
		border: 0;
		background-color:  #e74c3c;
	}
}


.sf-footer{
	background-color:  rgba(59, 60, 64, 0.95);
	padding: 41px 0 ;
	color: #f7f7f7;

	.float{
		float: left;
	}

	h5, h4{
		@extend .uppercase;
		margin-bottom: 29px;
		letter-spacing: 3.6px;

		&.m-bottom{
			margin-bottom: 27px;
		}
	}

	.footer-list{
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			font-family: 'Montserrat';
			color: rgba(238, 238, 238, 0.56);
			font-size: 18px;
			line-height: 18.2px;
		}
	}

	.l1, .l2{
		li{
			margin-bottom: 30px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.l2{
		.icon{
			width: 18px;
			text-align: center;
			margin-right: 16px;
			vertical-align: text-top;
			
			&:first-child{
				height: 16px;
			}
		}

		.icon-text{
			line-height: 1px;
		}

		.facebook-icon{
			content: url('../img/facebook.svg');
		}

		.twitter-icon{
			content: url('../img/twitter.svg');
		}
	}
}


// MOBILE CLASSES
@media (max-width: $xs-screen) { 
	.no-mobile{
		display: none !important;
	}

	.sf-footer{
		.float:first-child{
			width: 50%;
		}

		.l1{
			margin-right: 213px;
		}

		.l2{
			h4{
				text-align: right;
			}
		}
	}
}



// TABLETS AND DESKTOPS
@media (min-width: $md-screen) { 
	body{
		font: {
			size: 14px;
		};

		line-height: 18.2px;
	}

	.container{
		width: 980px;
	}

	.sf-header{
		padding-top: 50px;
		//menu
		.sf-menu{
			margin-left: 141px !important;

			font:{
				size: 13px;
			};

			ul {
				padding-top: 16px;

			};
		}

		hr{
			margin-top: 18px;
			margin-bottom: 62px;
			height: 1px;
		}
	}

	.sf-footer{
		.logo{
			background: {
				image: url('../img/logo-footer.png');
				repeat: no-repeat;
				position-x: 2px;
			};

			width: 224px;
			height: 200px;
			margin-right: 76px;
		}

		.bordered-l{
			border-left: 1px solid #4d4f53;
		}

		.bordered-r{
			border-right: 1px solid #4d4f53;	
		}

		h5{
			line-height: 13.2px;
			letter-spacing: 2.2px;
		}
		
		.footer-list{
			height: 200px;
			ul{
				font-size: 12.6px;
				margin-left: 1px; 
			}
		}
		
		.l1{
			margin: 0 36px;

			li{
				margin-bottom: 24px;
			}
		}

		.l2{
			margin-left: 31px;
			margin-right: 61px;

			li{
				margin-bottom: 17px;
			}
		}

		.news{
			margin:{
				left: 42px;
			};

			width:227px;

			p{
				color:  #666666;
				font-size: 14px;
				font-weight: 400;
				line-height: 18.2px;
				margin:{
					left: 1px;
					bottom: 25px;
				};
			}

			.input-group{
				border-radius: 5px;
				width: 230px;

				input, .btn{
					height: 45px;
				}

				input{
					line-height: 16.8px;
					padding:{
						top: 17px;
						left: 18px;
						bottom: 19px;
					};
					color:  #878787;
				}

				.btn{
					img{
						margin-bottom: 2px;
					}
				}

			}

		}
	}

	//useful classes
	.only-mobile{
		display: none !important; 
	}
	//end of useful classes

}
