@import 'assets/variables.scss';
@import 'style.scss';

.sf-header{
	background: {
		image: url('../img/hero-whitepaper-mobile.jpg');
	}
}

@media (max-width: $xs-screen){
	.subtitle{
        p{
            font-size: 22px !important;
        }
    }
}

@media (min-width: $md-screen) {
	.sf-header{
		background: {
			image: url('../img/hero-whitepaper.jpg');
		}
	}
	
	.sf-one-column{
		text-align: center;

		p{
			width: 500px !important;
		}
	}
}

