@import 'assets/variables.scss';
@import 'style.scss';

.sf-header{
	background: {
		image: url('../img/hero-whitepaper-mobile.jpg');
	}
}

.sf-info{
	background-color: #d2d2d2;

	.first{
		background-color: #ffffff;
		.content{
			padding: {
				top: 39px;
				bottom: 37px;
			}
		}
	}

	.second{
		background-color: #d2d2d2;

		.content{
			text-align: center;
			width: 100%;
			
			padding: {
				top: 48px;
				bottom: 48px;
			}
		}
	}
}

.sf-quote{
	padding: 33px 0;
	background: rgb(60,182,227); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */

	text-align: center;

	p{
		color:  #ffffff;
		font-size: 27px;
		margin: 0 auto;
		width: 516px;
	}

	line-height: 40px;
}

.sf-download{
	background-color: #3b3c40;

	.first {
		background-color: #d2d2d2;

		.content{
			max-width: 100%;
			height: 400px;
			background-image: url('../img/whitepaper-bottom.jpg');
			background-position: 81% 10%;

			p {
				margin: auto;
				padding-top: 64px;
				width: 400px;
				font-family: Montserrat;
				color: rgba(255, 255, 255, 0.7);
				font-size: 18px;
				font-weight: 400;
				line-height: 1.467;				
			}
			
			div {
				border-radius: 4px;
				background-color: rgba(234, 241, 243, 0.9);
				box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.15);
				width: 400px;
				margin: auto;
				margin-top: 18px;
				padding: 16px;
				font-family: PTSerif;
				color: #3c3d41;
				font-size: 18px;
				font-style: italic;
				line-height: 1.368;
			}			
		}
	}

	.second {
		background-color: #3b3c40;

		padding: {
			top: 50px;
			bottom: 50px;
			left: 79px;
			right: 51px;
		}

		h3 {
			color: #ffffff;	
		}

		.sf-form{
			fieldset{								
				padding: {
					top: 0px;
					right: 0px;
					left: 0px;
					bottom: 0px;
				}
			}

			label {
				color: #c5c5c6;	
			}
		}			
	}	
}

@media (max-width: $xs-screen){
}

@media (min-width: $md-screen) {
	.sf-header{
		background: {
			image: url('../img/hero-whitepaper.jpg');
		}
	}

	.sf-info{
		.first{
			.content{
				padding: {
					top: 50px;
					bottom: 50px;
					left: 79px;
					right: 51px;
				}

				p{
					width: 432px;
				}
			}
		}

		.second{
			.content{
				padding: {					
					top: 114px;
				}
			}
		}
	}

	.sf-quote{
		p{
			font-size: 21.5px;
			width: 515px;
			margin: 0 auto;
			line-height: 32px;
		}
	}

	.sf-download{

		.first {
			display: table;
			
			.content{
				height: 700px;
				display: table-cell;
				vertical-align: middle;
				
				p {
					padding-top: 0px;
				}
			}
		}

		.second {
			padding: {
				top: 50px;
				bottom: 50px;
				left: 79px;
				right: 51px;
			}

			h3 {
				color: #ffffff;	
			}

			.sf-form{
				fieldset{
					padding: {
						top: 0px;
						right: 0px;
						left: 0px;
						bottom: 0px;
					}
				}
			}			
		}

	}	
}

