<div class="sf-footer">
    <div class="container">
        <div class="row">
            <div class="float logo no-mobile"></div>
            <div class="float bordered-l">
                <div class="footer-list l1">
                    <h5 class="no-mobile">NAVIGATION</h5>
                    <h4 class="only-mobile">NAVIGATION</h4>
                    <ul>
                        <li>
                            <a href="https://blog.salesflare.com" target="_blank">Blog</a>
                        </li>
                        <li>
                            <a href="feature1.html">Product Tour</a>
                        </li>
                        <li>
                            <a href="pricing.html">Pricing</a>
                        </li>
                        <li>
                            <a href="terms.html" target="_blank">Terms of Service</a>
                        </li>
                        <li>
                            <a href="privacy.html" target="_blank">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="contactus.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="float bordered-r bordered-l">
                <div class="footer-list l2">
                    <h5 class="m-bottom no-mobile">FOLLOW US</h5>
                    <h4 class="m-bottom only-mobile">FOLLOW US</h4>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/salesflare" target="blank">
                                <span class="icon facebook-icon"></span><span class="icon-text">Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/salesflare" target="blank">
                                <span class="icon twitter-icon"></span><span class="icon-text">Twitter</span class="icon-text">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="float no-mobile news">
                <h5 class="no-mobile">SUBSCRIBE TO OUR NEWS</h5>
                <p>Whitepapers, sales tips and product updates - all in your inbox.</p>
                <form method="post" action="https://salesflare.us8.list-manage.com/subscribe/post?u=e6b1e240fe7c654b0536c1e63&amp;id=7d9ca970e1">
                    <div class="input-group">
                        <input type="text" class="form-control" name="EMAIL" placeholder="E-mail">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"> <img src="img/mail.svg" /> </button>
                        </span>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
