<script src="//code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js" type="text/javascript"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/script.js" type="text/javascript"></script>
<script type="text/javascript">(function() {var gs = document.createElement('script');gs.src = 'https://snippet.growsumo.com/growsumo.min.js';gs.type = 'text/javascript';gs.async = 'true';gs.onload = gs.onreadystatechange = function() {var rs = this.readyState;if (rs && rs != 'complete' && rs != 'loaded') return;try {growsumo._initialize('pk_T2QELbgOZZDMTr5k7QlffOhI8qN1tuZM');if (typeof(growsumoInit) === 'function') {growsumoInit();}} catch (e) {}};var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gs, s);})();</script>

<!-- Source tracking for Salesflare site -->

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Check if the script has already run on this page load
    if (window.campaignScriptExecuted) {
        return;
    }
    window.campaignScriptExecuted = true;

    // Function to parse query parameters from the URL
    var parseQueryString = function() {
        return Object.fromEntries(new URLSearchParams(window.location.search));
    };

    // Function to get a cookie's contents by cookie name
    var getCookie = function(name) {
        var value = "; " + document.cookie;
        var parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    };

    // Function to set default campaign details if they are missing
    var setDefaultCampaignDetails = function(params) {
        // If campaign details are not present in the URL, set default values
        if (!params['utm_campaign'] && !params['utm_source'] && !params['utm_medium']) {
            // Set the campaign to the current page name or 'homepage' if it's the root
            params['utm_campaign'] = window.location.pathname.replace(/\/$/, '').split('/').pop() || 'homepage';
            params['utm_source'] = 'website';
            params['utm_medium'] = 'page';
        }
        return true; // Always return true as campaign details now exist
    };

    // Parse URL parameters
    var params = parseQueryString();
    // If there is a 'ref' parameter, set it as the utm_source
    if (params['ref']) {
        params['utm_source'] = params['ref'];
    }

    // Set default campaign details if none are provided
    var campaignDetailsExist = setDefaultCampaignDetails(params);

    // If no campaign cookie exists and campaign details are available, create a campaign cookie
    if (!getCookie('campaign') && campaignDetailsExist) {
        var campaign = `${params['utm_campaign'] || ''}-${params['utm_source'] || ''}-${params['utm_medium'] || ''}`;
        document.cookie = `campaign=${encodeURIComponent(campaign)}; path=/; domain=salesflare.com`;
        // In this case, delete any existing discount code cookie by setting an expired date in the past (why?)
        document.cookie = "discount_code=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; domain=salesflare.com";
    }

    // Retrieve the campaign and discount code cookies
    var campaign = getCookie('campaign');
    var discountCode = getCookie('discount_code');

    // If there is a campaign or discount code, update the relevant links
    if (campaign || discountCode) {
        // Function to update an element's href with new query parameters
        var updateHref = function(element, param, value) {
            if (element) {
                // Ensure we preserve any hash fragment by keeping it in front of the search parameters
                var url = new URL(element.href);
                element.href = url.origin + url.pathname + (url.hash ? url.hash : '') + (url.searchParams.has(param) ? '' : '?' + param + '=' + encodeURIComponent(value));
            }
        };

        // List of button IDs to update with campaign or discount code details
        var buttons = [
            'sf-menu-signup-button',
            'sf-homepage-signup-button',
            'sf-tour-signup',
            'sf-pricing-signup-button'
        ];

        // Iterate through each button and update its href with campaign and discount code
        buttons.forEach(function(buttonId) {
            var element = document.getElementById(buttonId);
            if (element) {
                // Clean up the button ID to determine a specific part of the campaign value
                var cleanedButtonId = buttonId.replace('sf-', '').replace('-button', '');
                if (campaign) {
                    // Update the campaign parameter, replacing '-page' with the specific button identifier
                    var updatedCampaign = campaign.replace('-page', `-${cleanedButtonId}`);
                    updateHref(element, 'campaign', updatedCampaign);
                }
                if (discountCode) {
                    // Update the discount_code parameter
                    updateHref(element, 'discount_code', discountCode);
                }
            }
        });
    }

    // Function for Intercom that sets the user hash based on a cookie
    // Unrelated to source tracking, but uses the same getCookie function
    if (getCookie('salesflare-intercom-hash')) {
      try {
        let cookieValue = getCookie('salesflare-intercom-hash');
        let parsedValue = JSON.parse(decodeURIComponent(cookieValue));
  
        window.intercomSettings.user_hash = parsedValue.user_hash;
        window.intercomSettings.user_id = parsedValue.user_id;
  
        // Only update Intercom if it's initialized
        if (typeof Intercom === 'function') {
          Intercom('update', window.intercomSettings);
        }
      }
      catch (e) {
        console.error('Error parsing intercom hash cookie', e);
      }
    }
  
});
</script>

<!-- Google-code voor remarketingtag -->
<!--------------------------------------------------
Remarketingtags mogen niet worden gekoppeld aan gegevens waarmee iemand persoonlijk kan worden geïdentificeerd of op pagina's worden geplaatst die binnen gevoelige categorieën vallen. Meer informatie en instructies voor het instellen van de tag zijn te vinden op: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 992317151;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/992317151/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Iubenda cookie policy banner -->
<script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"gdprAppliesGlobally":false,"countryDetection":true,"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"en","siteId":1080343,"cookiePolicyId":81768705, "banner":{ "acceptButtonDisplay":true,"position":"float-bottom-center" }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

<!-- Flare (pointing to staging API) -->
<script src="//track.salesflare.com/flare_migrate.js"></script>
<script>
    var flare = new Flare();
    flare.track("0l30lRNQfocRXCzlPkcFnygQqjl3O7I0k7LVoBR3I4co5");
</script>

<!-- Innertrends tracking -->
<script type="text/javascript">
	(function(w,o,d,s) {
		w['_itlk']='710a688986dcb50a8ff3155';w['_itlcdn']="on";
		w['_itlt']=[]; w['_itlq']=[];w['_itld']=s;w[o]=w[o]||{log:function(t,v,p){w['_itlt'].push([t,v,p])},stream:function(q){w['_itlq'].push([q])}};
		var pa = d.createElement('script'), ae = d.getElementsByTagName('script')[0], protocol = (('https:' == d.location.protocol) ? 'https://' : 'http://');pa.async = 1;  pa.src = protocol + 'io.innertrends.com/itl.js'; pa.type = 'text/javascript'; ae.parentNode.insertBefore(pa, ae);
	})(window,'_itl',document,"");
</script>

<!-- Introbar -->
<script>
    var _intro_bar = window._intro_bar || {};(function() {var i,e;i=document.createElement("script"), i.type='text/javascript';i.async=1, i.src="//cdn.introbar.com/js/v1.js", e=document.getElementsByTagName("script")[0], e.parentNode.insertBefore(i,e);})();
    _intro_bar.account_id = '58b8139da38e8';
</script>
