<script type="text/javascript">
    if (screen.width < 768) {
        document.write('<meta name="viewport" content="width=600, user-scalable=no">');
    } else {
        document.write('<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">');
    };
</script>

<meta charset="utf-8">
<meta name="description" content="Try Salesflare, the #1 simple CRM for small businesses selling B2B. Integrate with Google & Outlook. Be fully mobile. Automate your CRM from existing data.">
<meta name="keywords" content="Salesflare, CRM, Free CRM, Simple CRM, Small Business CRM, Free CRM software, CRM for Google, CRM for Outlook, CRM for Gmail" class="next-head">
<meta name="author" content="Salesflare" class="next-head">

<meta property="og:image" content="https://salesflare.com/img/facebook-og-image.png" class="next-head">
<meta name="twitter:card" content="summary" class="next-head"><meta name="twitter:image:src" content="https://salesflare.com/img/twitter-card-image.png" class="next-head">

<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.css" rel="stylesheet">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/img/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/icon/favicon-16x16.png">
<link rel="manifest" href="manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="img/icon/ms-icon-144x144.png">

<!-- Google Optimize -->
<!-- Page hiding snippet (recommended)  -->
<style>.async-hide { opacity: 0 !important} </style>
<script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-K6HNT8X':true});</script>

<!-- Intercom prep -->
<script>
window.intercomSettings = window.intercomSettings || {};
// Get UTM Params
var querystring = document.location.search; // Get the string after the domain

querystring = querystring.substring(1); // Remove the leading "?"
querystring = querystring.split('&'); // Split the string in utm variables

var utms = {};

for (var i = 0; i < querystring.length; i++) {
    var utm_part = querystring[i];

    if (utm_part) {
        var keyValue = utm_part.split("=");
        console.log("keyvalue: " + keyValue);

        if (keyValue.length > 1) {
          utms[keyValue[0]] = keyValue[1];
        }
    }
}

// Add UTM parameters to the Intercom object if they are not null
if (utms["utm_campaign"]) { window.intercomSettings.utm_campaign = utms["utm_campaign"]; }
if (utms["utm_medium"]) { window.intercomSettings.utm_medium = utms["utm_medium"]; }
if (utms["utm_source"]) { window.intercomSettings.utm_source = utms["utm_source"]; }
window.intercomSettings.custom_launcher_selector = '#open_intercom';
window.intercomSettings.hide_default_launcher = false;
</script>

<!-- Segment -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
  analytics.load("zVGLbGQzXGVrjNwVG6T0peeRW4moR6Ob");
  window.gaClientId = document.cookie.split('; ').find(row => row.startsWith('_ga='))?.split('=')[1].split('.').slice(2).join('.');
  analytics.page(null, null, { gaClientId: window.gaClientId });
  // custom trackLink function to make sure track call completes before link is opened
  window.trackLink = function(event, label) {
    if ((event.target.target === '' || event.target.target === '_self') && event.target.href !== '') {
        event.preventDefault();
        setTimeout(function() {window.location.href = event.target.href;}, 300);
    }
    window.analytics.track('click', {category: 'button', label: label, gaClientId: window.gaClientId});
  };
  }}();
</script>

<!-- Poptin -->
 <script id='pixel-script-poptin' src='https://cdn.popt.in/pixel.js?id=5caf1081f1153' async='true'></script> 
