<div class="container">
    <!-- navbar -->
    <div class="row sf-navbar">

        <!-- logo -->
        <div class="sf-logo">
            <a href="/">
                <img src="img/nav-logo.png" alt="Home" />
            </a>
        </div>
        <!-- end logo -->
        <!-- menu -->
        <div class="sf-menu">
            <ul>
                <li>
                    <a href="feature1">Product</a>
                </li>
                <li class="no-mobile">
                    <a href="pricing">Pricing</a>
                </li>
                <li class="no-mobile no-margin-right">
                    <a href="https://blog.salesflare.com">Blog</a>
                </li>
                <li class="only-mobile no-margin-right open-menu">
                    Menu
                </li>
            </ul>
        </div>
        <!-- end menu -->
        <!-- right menu -->
        <div class="sf-menu sf-menu-actions no-mobile">
            <ul>
                <li>
                    <a href="https://app.salesflare.com/#/signup/" onclick="analytics.track('click', {category: 'button', label: 'sign-up'});" class="sf-nav-button" id="sf-menu-signup-button">Try it for free</a>
                </li>
                <li>
                    <a href="https://app.salesflare.com/#/login">Login</a>
                </li>
            </ul>
        </div>
        <!-- end right button -->
    </div>
    <hr />
    <!-- end navbar -->
</div>
