<div class="sf-menu-mobile">
    <div class="container">
        <div class="row">
            <div class="title">
                MENU
            </div>
            <div class="close-menu">
                Close
            </div>
        </div>
        <div class="row">
            <ul>
                <li>
                    <a href="feature1.html">Product Tour</a>
                </li>
                <li>
                    <a href="pricing.html">Pricing</a>
                </li>
                <li>
                    <a href="contactus.html">Contact Us</a>
                </li>
                <li>
                    <a href="whitepaper.html">Whitepaper</a>
                </li>
                <li>
                    <a href="https://app.salesflare.com/#/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>